<div class="calendar-header">
  <div class="title">
    <%= link_to "シフトカレンダー", root_path, class: "title-name" %>
  </div>
  <div class="nav">
    <ul class='btn-lists'>
      <% if user_signed_in? %>
        マイページ:
        <li><%= link_to current_user.family_name , user_path(current_user.id), class: "user-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to '希望時間の投稿', new_post_path, class: "post-time" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="calendar-main">
  <div class="simple-calendar">
    <%= month_calendar events: @posts do |date, posts| %>
      <%= date.day %>
      <% posts.each do |post| %>
        <div>
          <%= link_to post.desired_time.name, post_path(post.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>