<div class="calendar-header">
  <div class="title">
    シフトカレンダー
  </div>
  <div class="login">
    <%= link_to "ログイン", new_user_session_path %>
  </div>
  <div class="new-registration">
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
  <div class="post-time">
    <%= link_to "希望時間", new_post_path %>
  </div>
</div>

<div class="calendar-main">
  <div class="simple-calendar">
    <%= month_calendar events: @posts do |date, events| %>
      <%= date.day %>

      <% events.each do |post| %>
        <div>
          <%= post.desired_time.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

